@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <li class="dropdown">
        <a asp-controller="CarrinhoCompra">
            <span>
                <img src="~/Images/Icon.png" width="20" height="20"/>
            </span>
            <span id="cart-status">
                @Model.CarrinhoCompra.CarrinhoCompraItens.Count
            </span>
        </a>
    </li>
}
