<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <span class="fas fa-envelope"></span>
            <email endereco="mayconfagundes0933@gmail.com" conteudo="Enviar e-mail"></email>
            <br />
            <span class="fas fa-phone"></span>
            (11) 8784-98410
            <br />
            <span class="fas fa-home"></span>
            Av. Paulista 1000 - 0305-550 - São Paulo
        </p>
    </div>
</div>